body {
    background: linear-gradient(45deg, white, lightblue);
}

.Item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 2rem;
    width: 100%;
}

.Header {
    flex: none;
    float: right;
}

#header {
    padding-top: -6rem;
}

#ClearFix {
    padding-top: 5rem;
}

.h1head {
    font-size: medium;
}

.icons {
    position: relative;
    flex: box;
    padding-top: 1rem;
    padding-right: -1rem;
    font-size: small;
}

.carousel {
    padding: 1rem;
    margin-top: 3rem;
    z-index: -1;
    height: 100%;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}

.insideh1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: small;
    text-shadow: 3px 3px white;
}

.insideHeader {
    margin-top: 9rem;
}

.d-block {
    height: 30rem;
}

.div {
    z-index: 1;
    float: left;
    position: relative;
    animation: mymove 10s infinite;
    animation-timing-function: linear;
}

#div1 {
    padding-top: 8rem;
    animation-timing-function: linear;
}

@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 820px;
    }
}

.imgFoot {
    height: 1rem;
    width: 1rem;
    background-color: black;
    /* border-radius: 50%; */
}

.fotterpat {
    font-size: small;
    color: white;
}


/* .box {
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    height: auto;
} */

.overlay {
    position: absolute;
    z-index: 3;
    float: left;
    position: relative;
    animation: mymove 20s infinite;
    animation-timing-function: linear;
}

.Footer {
    padding-top: 3rem;
    margin-top: 1rem;
}

@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

.box3 {
    padding-top: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
    text-shadow: 3px 3px white;
}

.overlay2 {
    position: absolute;
    z-index: 3;
    float: left;
    position: relative;
    animation: mymove 40s infinite;
    animation-timing-function: linear;
}

.card:hover {
    box-shadow: 5px 5px 5px 5px black;
}

.card5 {
    margin: 1rem;
    /* width: 30rem; */
}

.cardParagraph {
    margin-left: 3rem;
    margin-top: 3rem;
    text-align: left;
    padding: 1rem;
    text-align: left;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.imagecard {
    border-style: solid;
    border-color: black;
    box-shadow: -10px 5px 5px black;
    border-radius: 5%;
    border-width: 0.1rem;
    margin: 2px;
    flex: auto;
    float: left;
}

.Valley {
    flex: auto;
    text-align: left;
}

.insidediv.clearfix {
    overflow: auto;
    position: absolute;
    flex: auto;
    float: right;
}

.insideP {
    flex: auto;
    float: right;
}

.card6 {
    margin: 1rem;
}

.imagecard2 {
    margin-right: 3rem;
    margin-top: 3rem;
    border-style: solid;
    border-color: black;
    box-shadow: 10px 5px 5px black;
    border-radius: 5%;
    border-width: 0.1rem;
    margin: 2px;
    flex: auto;
    float: right;
}

.Park {
    flex: auto;
    text-align: right;
}

.cardParagraph2 {
    margin: 3rem;
    padding: 1rem;
    text-align: left;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-bottom: 9rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container2 {
    flex-flow: row;
    float: left;
    position: absolute;
    margin-top: 30%;
}

.tamanho {
    height: 1px;
}

.colform {
    position: relative;
    width: 30rem;
}

.textp {
    flex: none;
    justify-content: center;
    padding-top: 3rem;
    border: solid;
    border-style: solid;
    border-radius: 10px;
    border-color: lightblue;
}

.FirstP {
    padding-top: 9rem;
    padding-left: 1rem;
}

.Firstp1 {
    padding-top: 3rem;
    padding-left: 1rem;
}

.lastT {
    padding: 2rem;
}

.InsideP {
    padding-right: 2rem;
}

.MidContac {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
}

.Form1 {
    padding: 9rem;
}

.Item {
    width: 30rem;
}

.section {
    margin: 4rem;
}

.contacth1 {
    text-align: center;
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}